anaconda-client>=1.8
black>=22.3
cmake>=3.23
conda-build>=3.21
flake8>=4.0
ipdb>=0.13
ipython>=8.4
isort>=5.10
mccabe>=0.6
mypy>=0.960
ninja>=1.11
pre-commit>=2.19
pylint>=2.13
pytest>=7.1
scikit-build>=0.15
tox-conda>=0.9
tox>=3.25
types-setuptools>=57.4
